<div class='text-success'>
  <p class='mb-0 mt-2 ms-2 fw-bolder fs-4'>Attractions</p>
  <div class='history-by-category'>
    <% attractions.each do |attraction| %>
      <div class='selected-card m-2 d-flex flex-column text-center'>
        <%= image_tag 'selected1.png', height:100 %>
        <%= attraction.activity.name %>
      </div>
    <% end %>
  </div>
</div>
