<div class='border-top mt-2'>

  <div class='history-by-category'>
    <% attractions.each do |attraction| %>
      <%= link_to details_path(attraction) do %>
        <div class='selected-card'>
          <div class="card-photo">
            <%= image_tag "#{attraction.activity.img}", class:'img-thumbnail'%>
          </div>

          <div class="card-info">
            <%= image_tag "coaster_grey.png", alt: "Fareswheel", class: "icon"%>
            <%= attraction.activity.name %>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
