<div class='border-top mt-2'>

  <div class='history-by-category'>
    <% events.each do |event| %>
      <%= link_to details_path(event) do %>
        <div class='selected-card'>
        <div class="card-photo">
          <%= image_tag "#{event.activity.img}", class:'img-thumbnail'%>
        </div>
          <div class="card-info">
            <%= image_tag "event_grey.png", alt: "Firework", class: "icon" %>
            <%= event.activity.name %>

          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
