<div class='border-top mt-2'>
  <p class='mb-0 mt-2 ms-2 fw-bolder fs-4'>Movies</p>
  <%if movies.empty? %>
    <p class='mb-0 mt-2 ms-2 fs-6'>No movie selected, go back to get one?</p>
  <% end %>
  <div class='history-by-category'>
    <% movies.each do |movie| %>

    <% end %>
  </div>
</div>
