<div class='border-top mt-2'>

  <div class='history-by-category'>
    <% movies.each do |movie| %>
      <%= link_to details_path(movie) do %>
        <div class='selected-card'>
         <div class="card-photo">
            <%= image_tag "#{movie.activity.poster}", class:'img-thumbnail'%>
          </div>

          <div class="card-info">
            <%= image_tag "movie_grey.png", alt: "Fareswheel", class: "icon"%>
            <%= movie.activity.title%>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
