<div class='border-top mt-2'>

  <div class='history-by-category'>
    <% restaurants.each do |restaurant| %>
      <%= link_to details_path(restaurant) do %>
        <div class='selected-card'>
          <div class="card-photo">
            <%= image_tag "#{restaurant.activity.photo}", class:'img-thumbnail'%>
          </div>

          <div class="card-info">
            <%= image_tag "knife_grey.png", alt: "Fareswheel", class: "icon"%>
            <%= restaurant.activity.name%>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
