<div class='border-top mt-2'>
  <p class='mb-0 mt-2 ms-2 fw-bolder fs-4 text-warning'>Restaurants</p>
  <%if restaurants.empty? %>
    <p class='mb-0 mt-2 ms-2 fs-6'>No estaurant selected, go back to get one?</p>
  <% end %>
  <div class='history-by-category'>
    <% restaurants.each do |restaurant| %>
      <%= link_to details_path(restaurant) do %>
        <div class='selected-card'>
          <%= image_tag "#{restaurant.activity.photo}", class:'img-thumbnail'%>
          <%= restaurant.activity.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
