#city {
  height: 50px;
  border: none;
  background-color: #FFE8AB; /* Background color */
  font-weight: bold;
  margin-left: 20px;
  font-size: xx-large;
  width: 200px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-left: 10px;
}
