.title {
  text-align: center;
  font-weight: bold;

}

h2 {
  font-weight: bold;
  font-size: xx-large;

  ul {
    padding-left: 10px;
  }

  li {
    font-weight: normal;
    font-size: large;
    list-style-type: none;
    padding-left: 0px;
  }
}

.address {
  padding-right: 90px;

  h2 {
    margin-bottom: 2px;
  }

  p {
    padding-left: 10px;
  }
}

.img-food {
  margin-bottom: 25px;

  img {
    height: 125px;
    border-radius: 32px;
    margin-left: 52px;
  }
}
