.web-text {
  padding-left: 12px;
  font-size: x-large;
}

.end-link {
  color: black;
  margin-left: 16px;
  font-size: x-large;
  text-decoration: underline;
}

.sub-header-text {
  padding-left: 12px;
  margin-top: 12px;
}

.end-text {
  padding-left: 12px;
}
