// Specific CSS for your home-page
#landing-page-title {

  margin: 70px auto;
  width:385px;
  height:400px;
  // background-color:#fff;
  display:grid;
  grid-template-columns: 180px 182px;

  grid-column-gap: 12px;
  grid-row-gap: 20px;
  padding: 5px;
}

#landing-page-header {
  margin-left: 19px;
}

.home-category-card {
  display: flex;
  // height: 85px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 50px;
  background-color: #FFD76B;
  // margin: 21px;
  box-shadow: 0px 6px 2px 0px gray;
  align-items: center;
  flex-direction: column;

  .fa-solid {
    font-size: xxx-large;
  }
}

.under-margin-less {
  margin-bottom: 30px;
}

.under-margin {
  margin-bottom: 70px;
}

.under-margin-more {
  margin-bottom: 80px;
}

.button-yellow {
  text-decoration: none;
  background-color: #FFD76B;
  color: black;
  padding: 20px;
  border-radius: 15px;
  font-size: 25px;
  box-shadow: 0px 9px 11px 0px;
}

.bold-text {
  font-weight: bold;
}

.size-32 {
  font-size: 32px;
}

.carousel-image-container {
  position: relative;
  height: 100px; /* Adjust based on the height of your SVGs */
  overflow: hidden;
  /* Set a specific width if your SVGs have a consistent size */
  width: 100px; /* Example: Adjust this to match your SVG width */
  margin-left: 50px;
}

.carousel-image {
  position: absolute;
  top: 0; /* Align to the top of the container */
  /* Remove the left: 100%; property if not needed based on JS positioning logic */
  transition: left 1s ease-out;
}

.mainText {
  font-size: 4.5vh;
  font-weight: 900;
  text-align: start;
}

.secondText {
  display: flex;
  align-items: center;

}
