.selected-history-container {
  overflow: scroll;
  height: 600px;
}

.history-by-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.selected-card {
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  border: 4px solid #FFD76B;

  .card-info {
    color: black;
    display: flex;

  }

  .card-photo {
    background-color: #FFD76B;
    padding-bottom: 12px;
  }

  .img-thumbnail{
    background-color: #FFD76B;
    border-radius: 50px;

  }

  .icon {
  border-right: 4px solid#FFD76B;
  color: #FFD76B;
  padding: 12px;
  }
}


.before-margin {
  margin-left: 90px;
}
.custom-hr {
  position: absolute; /* or 'fixed' depending on the use case */
  width: 200%;
  z-index: 2; /* a trillion */
  left: -50%; /* to center it if width is 200% */
}
a {
  text-decoration: none;
}



.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + img {
    background-color: #FFD76B;
    border-radius: 50px;
  }
}

label {


  img {
    height: 37px;
    cursor: pointer;
    border-bottom: 1px solid white;

  }
}




.sections {
  color: grey;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0px;

  background-color: #FFE8AB;



}
