.selected-history-container {
  overflow: scroll;
  height: 600px;
}

.history-by-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.selected-card {
  box-shadow: 2px 2px 5px rgb(200, 200, 200);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

.before-margin {
  margin-left: 90px;
}
.custom-hr {
  position: absolute; /* or 'fixed' depending on the use case */
  width: 200%;
  z-index: 2; /* a trillion */
  left: -50%; /* to center it if width is 200% */
}
a {
  text-decoration: none;
}

.disabled.full-opacity {
  opacity: 1;
}
