<div class='recommendation-card'>
  <p>Name: <%= recommendation.activity.name %></p>
  <p>Address: <%= recommendation.activity.address %></p>
  <p>Photo: <%= recommendation.activity.img %></p>
  <div class='d-none'>
    <p>Website: <%= recommendation.activity.website %></p>
  </div>
</div>
