<h4>Current Bookmarks!</h4>
<ul>
  <% @session.bookmarked_recommendations.each do |recommendation| %>
    <li>
      <%= link_to recommendation.activity.name, details_path(recommendation, from: 'bookmarks') %>
      <%= button_to 'delete', recommendation_path(recommendation), params:{ status: 'rejected', from: 'bookmarks' }, method: :patch, data: { turbo_confirm: 'Are you sure?' }
      %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to recommendations', recommendation_path(@session.pending_recommendation) %>
