<% unless type == 'bookmarked' %>
  <div data-controller="ajax-king">
    <%= link_to favorite_path(recommendation.activity, type: recommendation.activity.class.name.downcase, from: type), method: :post, data: { action: "click->ajax-king#switchLike", ajax_king_target: "meGusta", favorited: recommendation.activity.favorited_by?(current_user) } do %>
      <i class="fa-solid fa-heart <%= 'text-danger' if recommendation.activity.favorited_by?(current_user) %>" data-ajax-king-target="meGusta"></i>
    <% end %>

  </div>
<% end %>
