 <% movie = recommendation %>
 <%= link_to details_path(movie) do %>
  <div class='selected-card'>
    <%= image_tag "#{movie.activity.poster}", class:'img-thumbnail'%>
    <%= movie.activity.title %>
  </div>
  <%= render 'shared/activity_cards/like_button', recommendation: movie , type: type %>
<% end %>
