<% restaurant = recommendation %>
<div class='selected-card'>
  <%= link_to details_path(restaurant) do %>
    <div class="styling-purpose">
      <%= image_tag restaurant.activity.photo, class:'img-thumbnail'%>
    </div>
  <% end %>
  <div class="styling-purpose">
    <%= render 'shared/activity_cards/like_button', recommendation: restaurant , type: type %>
    <div class="styling-purpose">
      <%= restaurant.activity.name %>
      <i class="fa-solid fa-utensils"></i>
    </div>
  </div>
</div>
