<div class="carousel-container d-flex flex-column justify-content-center align-items-center w-100 banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path("montreal.jpg")%>)">
  <div class="text-center">
    <h1 class="under-margin bold-text size-32 text-white">Welcome to EasyFind</h1>
    <h3 class="under-margin-more bold-text mx-5 text-white">Discover anything in Montreal whenever</h3>
  </div>

  <div class="carousel-image-container under-margin-more">
    <%= image_tag "plane.svg", class: "carousel-image", alt: "Plane" %>
    <%= image_tag "globe.svg", class: "carousel-image", alt: "Globe" %>
    <!-- Add more images as needed using the Rails image_tag helper -->
  </div>

  <a href="/categories" class="button-yellow text-center under-margin">Discover</a>
</div>
