<div class="container d-flex flex-column justify-content-center align-items-center w-100" style="height: 100vh;">
  <h1 class="under-margin bold-text size-32">Welcome to EasyFind</h1>
  <div class="text-center">
    <h3 class="under-margin-more bold-text mx-5">Discover anything, anytime, anywhere</h3>
  </div>
  <div class="under-margin-more">
    <%= image_tag "plane.svg" %>
  </div>
  <a href="/categories" class="button-yellow text-center under-margin">Discover</a>
</div>
