<div class="carousel-container d-flex flex-column justify-content-center align-items-center w-100" style="height: 100vh;">
  <h1 class="under-margin bold-text size-32">Welcome to EasyFind</h1>
  <div class="text-center">
    <h3 class="under-margin-more bold-text mx-5">Discover anything, anytime, anywhere</h3>
  </div>

  <div class="carousel-image-container under-margin-more">
    <%= image_tag "plane.svg", class: "carousel-image", alt: "Plane" %>
    <%= image_tag "globe.svg", class: "carousel-image", alt: "Globe" %>
    <!-- Add more images as needed using the Rails image_tag helper -->
  </div>

  <a href="/categories" class="button-yellow text-center under-margin">Discover</a>
</div>
