// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

//sing in and login
.button-yellow-init {
  text-decoration: none;
  background-color: #FFD76B;
  color: black;
  padding: 7px 12px; /* Adjust padding to control the capsule size */
  border-radius: 15px;
  font-size: 25px;
  display: inline-block; /* Makes the button only as wide as its content + padding */
  border: none; /* Assuming you don't want a border, but adjust as needed */
  margin-top: 10px;
  margin-bottom: 30px;
}
