.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container { /* Add this class to the parent container of the map <div> */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack vertically */
  width: 100%; /* Take up full width */
}
