
.navbar-lewagon {
  position: fixed;
  top: env(safe-area-inset-top); /* Align the top edge of the navbar with the bottom edge of the safe area */
  width: 100%;
  background: #FFD76B; /* Your navbar background color */
  z-index: 1030; /* Above the safe-area-filler */
  /* Other styling properties */
  // height: 140px;
}
/* Extend the background color into the safe area */
body {
  padding-top: calc(env(safe-area-inset-top) + 70px); /* Adjust the value based on your navbar's height */
  background-color: #FFD76B;
}
// body {
//   border-top: env(safe-area-inset-top) solid red;
//   border-left: env(safe-area-inset-left) solid green;
//   border-right: env(safe-area-inset-right) solid blue;
//   border-bottom: env(safe-area-inset-bottom) solid yellow;
// }
// .rectangle {
//   position: fixed;
//   top: calc(env(safe-area-inset-top) - 0px); /* Adjust as needed */
//   left: 100px; /* Adjust as needed */
//   width: 200px; /* Your rectangle's width */
//   height: 100px; /* Your rectangle's height */
//   background-color: #FFD76B; /* Your rectangle's color */
// }

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.2s ease-in-out;
}

.avatar:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  border-radius: 0.25rem;
  margin-top: 0px; // Reset or adjust based on your layout
  margin-right: 25px;
  transform: translate(0, -10px); // Increase upward translation for closer positioning
  right: 0; // Ensure it aligns to the right edge of its container
}

.dropdown-item {
  color: #333;
  &:hover {
    background-color: #f8f9fa;
  }
}

.dropdown-toggle::after {
  display: none;
}

.nav-item.dropdown {
  align-items: center;
  display: flex;
  position: relative; // Ensure dropdown aligns within the nav item context
}
