/* Custom SCSS adjustments for dropdown positioning and alignment */

.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: #FFD76B; /* Your navbar background color */
  padding: 10px 20px;
  // box-shadow: 0px 4px 13px gray;
  z-index: 1030; /* Higher than the default to ensure it's on top; adjust as needed */
}

.navbar-lewagon::before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: -env(safe-area-inset-top);
  height: env(safe-area-inset-top);
  background-color: #FFD76B; /* Match the navbar background color */
  z-index: -1;
}

/* Extend the background color into the safe area */
body {
  padding-top: calc(env(safe-area-inset-top) + 70px); /* Adjust the value based on your navbar's height */
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.2s ease-in-out;
}

.avatar:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  border-radius: 0.25rem;
  margin-top: 0px; // Reset or adjust based on your layout
  margin-right: 25px;
  transform: translate(0, -10px); // Increase upward translation for closer positioning
  right: 0; // Ensure it aligns to the right edge of its container
}

.dropdown-item {
  color: #333;
  &:hover {
    background-color: #f8f9fa;
  }
}

.dropdown-toggle::after {
  display: none;
}

.nav-item.dropdown {
  align-items: center;
  display: flex;
  position: relative; // Ensure dropdown aligns within the nav item context
}
