<div class='container'>
  <div id='landing-page-header' class=''>
    <h1 class="mt-3 mb-0 mainText">Find something</h1>
    <div class="secondText">
    <h1 class=" mainText">in</h1>
      <select id="city">
        <option value="Montreal">Montreal</option>
        <option value="Coming Soon...">Coming Soon...</option>
      </select>
    </div>
  </div>

  <div id='landing-page-title' class="">
    <div class='restaurants border home-category-card'>
      <%= button_to 'Restaurants', recommendations_path, method: :post, params: {type: 'Restaurant'},class: 'home-button' %>
    </div>

    <div class='attractions  border home-category-card'>
      <%= button_to 'Attractions', recommendations_path, method: :post, params: {type: 'Attraction'},class: "home-button" %>
    </div>

    <div class='events  border home-category-card'>
      <%= button_to 'Events', recommendations_path, method: :post, params: {type: 'Event'},class: "home-button" %>
    </div>

    <div class='movies  border home-category-card'>
      <%= button_to 'Movies', recommendations_path, method: :post, params: {type: 'Movie'},class: "home-button" %>
    </div>
  </div>
</div>
