<div class='container'>
  <div id='landing-page-header' class='d-flex flex-row align-items-center justify-content-around'>
    <h1 class="my-3 text-center">Find somthing in </h1>
    <select id="city">
      <option value="Montreal">Montreal</option>
      <option value="Tronto">Tronto</option>
      <option value="Ottawa">Ottawa</option>
      <option value="Quebec City">Quebec City</option>
    </select>
  </div>

  <div id='landing-page-title' class="">
    <div class='restaurants bg-secondary border m-2 home-category-card'>
      <%= button_to 'Restaurants', recommendations_path, {method: :post, params: {type: 'Restaurant'},form_class: 'home-form' }%>
    </div>

    <div class='attractions bg-secondary border m-2 home-category-card'>
      <%= button_to 'Attractions', recommendations_path, method: :post, params: {type: 'Attraction'} %>
    </div>

    <div class='events bg-secondary border m-2 home-category-card'>
      <%= button_to 'Events', recommendations_path, method: :post, params: {type: 'Event'} %>
    </div>

    <div class='movies bg-secondary border m-2 home-category-card'>
      <%= button_to 'Movies', recommendations_path, method: :post, params: {type: 'Movie'} %>
    </div>
  </div>
</div>
